<h1>Hello</h1>
{{title}}
<p>{{name}}</p>
<p>{{getName()}}</p>
<p>{{obj.name}}</p>
<h3>fruits array print below:</h3>
<p>{{fruits}}</p>
<!-- length of array -->
<p>length is:{{fruits.length}}</p>
find site url
<p>{{siteUrl}}</p>
<h1>
  <app-user-list></app-user-list>
</h1>
<h2><app-login></app-login></h2>
<h3>
  <app-signup></app-signup>
</h3>
<br><br>

<!-- disabled property applay and remove -->
<!-- using property binding -->
<input type="text" [disabled]="disableBox" value="swapnil"/>
<br><br>
<!-- usig interpolation -->
<input type="text" disabled={{disableBox}} value="swapnil"/>
<br><br>
<button (click)="enableBox()">print</button>
<br>
<p>usign for loap print services</p>
<ul>
  <li *ngFor="let user of users">
    {{user.name}}
  </li>
</ul>
<app-footer></app-footer>